<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../assets/css/list.css">
</head>
<body>
  <h1>这是列表页</h1>
  <img src="../assets/images/1.jpg" alt="">
  <ul>
    <li>我是第1个li</li>
    <li>我是第2个li</li>
    <li>我是第3个li</li>
    <li>我是第4个li</li>
    <li>我是第5个li</li>
    <li>我是第6个li</li>
    <li>我是第7个li</li>
    <li>我是第8个li</li>
    <li>我是第9个li</li>
    <li>我是第10个li</li>
    <li>我是第11个li</li>
    <li>我是第12个li</li>
    <li>我是第13个li</li>
    <li>我是第14个li</li>
    <li>我是第15个li</li>
    <li>我是第16个li</li>
    <li>我是第17个li</li>
    <li>我是第18个li</li>
    <li>我是第19个li</li>
    <li>我是第20个li</li>
  </ul>
</body>
<script src="../assets/js/list.js"></script>
</html>